
div.head{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#body{
    height: 100%;
    width: 100%;
}

div.back{
    background-color: #000000;
    width: 750px;
    height: auto;
}

h1.main {
    font: "Ubuntu Mono";
}

video.fade {    
    
    width: 750px;
    height: auto;
    object-fit: cover;
}

div.main {
    margin: 100px;
    vertical-align: center;    
}


@keyframes example {
    from {                                 
        opacity: 0;
    }
    to {         
        opacity: 1;
    }
}

#vid {
    width: 50%;          
    margin: 5px;
    animation-name: example;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); 
    animation-fill-mode: backwards; 
}

.test_shadow {   
    animation-duration: 0.5s;    
}

.test_shadow2 {          
    animation-duration: 0.5s;
    animation-delay: 0.5s;    
}

.test_shadow3 {
    animation-duration: 0.5s;
    animation-delay: 1s;          
}

table {  
    width: 100%;              
    height: 61.7%;       
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes banner_ani {
    from {        
        opacity: 0;
    }
    to {        
        opacity: 1;
    }
}


.banner {
    animation: banner_ani;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);    
}

#title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    font-size: 40px;
    color: #555555;
}

#links {
    font-family: serif;    
    font-size: 12px;
    color: #555555;
}