
#tableContainer {
    border: solid #B22E21 3px;
    border-radius: 20px;    
    box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, .7);
    background-color: #FF988F;
    grid-row: 2;
    grid-column: 2;
    justify-content: center;    
    display: grid;
    grid-auto-columns: minmax(40px, auto);
    grid-auto-rows: minmax(0px, auto);
    height: 375px;
    width: 275px;
    vertical-align: middle;
    text-align: center;
    grid-gap: 5px;

}

#tableTitle {
    font-family: 'Merriweather', serif;
    color: #161616;
    font-size: 2em;   
    vertical-align: middle;     
}

#tableCell{
    font-size: 0.75em;
    font-family: 'Montserrat', sans-serif;
    color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableSpacer {
    height: 20px;
}

#page {
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-rows: calc(100vh/5) calc(100vh/3) calc(100vh/2);
    grid-auto-rows: minmax(50px, auto);
    width: 100vw;
    height: 100vh;
}

input[type=submit] {
    width: calc(15em/1.67);
    height: 2.25em;
    text-align: center;
}

input {
    width: 15em;
    height: 1.5em;
    text-align: center;
}

/*
div {
    border: solid black 1px;
}
*/